
/* = Included Partials
-------------------------------------------------------------- */

@import 'base';
@import 'queries';





/* = Page Styling
-------------------------------------------------------------- */
html {
  height: 100%;
  background-color: #f7edec;
}
body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	border-radius: $border-radius;
	border: solid 1px #ddd;
	background-color: #FFF;
	margin: 0 auto;
	max-width: $max-width;
	border-bottom: solid 50px #000;
}

section {
	padding: 20px 5% 35px 5%;
	overflow: hidden;
	@include respond-to-desktop-and-up {
		padding: 20px 15% 40px;
	}
	h2 {
	margin-bottom: 30px;
	text-align: center;
	font-weight: $light;
	font-size: 150%;
	letter-spacing: 2px;
	margin-top: 5%;
	text-transform: uppercase;
	}
	h4 {
	text-transform: uppercase;
	font-weight: $regular;
	margin: 0px;
	}
	p {
	font-size: 120%;
	}
}


/* HEADER  */
header {
	background: #be1f25 url(red-bg.jpg) center center no-repeat;
	color: #fff;
    height: 35px;
    padding: 10px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: $max-width - 20px;
    overflow: hidden;

	h1.scroll-logo {
		background: url(icon-cupcake.png) no-repeat scroll left center rgba(0, 0, 0, 0);
	    padding-left: 45px;
		font-weight: $light;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 160%;
		float: left;
		max-width: 40px;
		text-indent: -9999px;
	}
	ul {
		list-style: none;
		float: right;
		margin: 10px 0px 0px 0px;
		padding: 0px;
	}
	li {
		float: left;
		border-right: solid 1px #ccc;
		padding-right: 20px;
		margin-right: 20px;
	}
	a, a:link, a:visited {
		color: #efefef;
		text-decoration: none;	
	}
	a:hover {
		color: #fff;
	}
	.omega {
		border-right: none;
		margin-right: 0px;
	}
}
#index .nav-up {
    top: -55px;
}



/* INTRO  */
#intro {
	background: #be1f25 url(red-bg.jpg) center center no-repeat;
	padding: 10% 0px 10% 0px;
	border-bottom: none;
	h1.logo {
		background: transparent url(logo-on-red.png) no-repeat center center;
		background-size:contain;
		text-indent: -9999px;
		width: 100%;
		height: 300px;
	}
	h2 {
		color:#FFFFFF;
		  font-size:300%;
		  font-weight:200;
		  letter-spacing:2px;
		  margin-left:20%;
		  margin-right:20%;
		  margin-top:5%;
		  text-align:center;
		  text-transform:uppercase;
	}
}
.btn {
  -webkit-transition:all 0.25s ease-in 0s;
  background-color:#FFF;
  border-radius: 50%;
  border: solid 2px #bf2025;
  color:#bf2025;
  font-weight:400;
  font-size: 200%;
  padding:10px 16px;
  text-align:center;
  text-transform:uppercase;
  text-decoration: none;
  display: block;
  width: 30px;
  margin: 5% auto;
  text-align: center;
  transition: top 0.2s ease-in-out;
}



/* PHILOSOPHY  */
#philosophy {
	background-color: #ccc;
	border-top: double 6px #777;
	font-weight: $light;
	font-size: 120%;
	line-height: 180%;
	p {
		font-style: italic;
	}
}


/* OUR WORK  */
#our_work {
	border-top: double 6px #ccc;
	.portfolio-piece {
		background: none repeat scroll 0 0 #DDDDDD;
	    border: 7px solid #DDDDDD;
	    margin-bottom: 35px;
	    max-height: 166px;
	    max-width: 166px;
	    overflow: hidden;
	    width: 25%;
		img {
			overflow: hidden;
			width: 100%;
			height: 100%;
		}
	}

}




/* WHO WE ARE  */
#who-we-are {
	border-top: double 6px #eee;
	.who-we-are-intro {	
		font-weight: $light;
		font-size: 120%;
		line-height: 180%;
	}
}

.profile {
	img {
		border-radius: 100%;
		text-align: center;
		display: block;
		border: solid 1px #ddd;
		margin: 2% auto;
	}
	h4 {
		text-align: center;
		font-weight: $light;
		font-size: 120%;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	p {
		font-size: 90%;
		line-height: 130%;
		font-weight: $light;
		color: #666;
	}
	@include respond-to-desktop-and-up {
		width: 45%;
		float: left;
		img {
			width: 55%;
		}
	}

}


/* CLIENTS  */
#our_clients {
	background-color: #d3d3d3;
	border-top: double 6px #777;
	font-weight: $light;
	font-size: 120%;
	line-height: 180%;
	li {
		font-size: 90%;
		line-height: 140%;
	}
}


/* AWARDS  */
#awards {
	background-color: #888;
	border-top: double 6px #333;
	font-weight: $light;
	font-size: 120%;
	line-height: 180%;
	li {
		font-size: 90%;
		line-height: 140%;
	}
	h4 {
    font-size: 200%;
    font-weight: 200;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
	}
}



/* CLIENTS  */
#contact-us {
	background-color: #555;
	border-top: double 6px #111;
	font-weight: $light;
	font-size: 120%;
	line-height: 180%;
	text-align: center;
	color: #ddd;
	a, a:link, a:visited {
		color: #efefef;
	}
	a:hover { 
		color: #ffffff 
	}
	.emphasize {
		font-size: 150%;
	}
	.twitter 
		a {
		background: url(twitter.png) no-repeat scroll left center rgba(0, 0, 0, 0);
	    display: inline-block;
	    height: 40px;
	    padding-left: 55px;
	}
}



/* PORTFOLIO PIECE  */
#portfolio-piece {
	margin-top: 60px;
	h2 {
    font-size: 300%;
    font-weight: 200;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
	}
}






.two-col {
	@include respond-to-desktop-and-up {
		float: left;
		width: 45%;
		margin-right: 10%;
	}
}
.three-col {
	@include respond-to-desktop-and-up {
		float: left;
		width: 26.5%;
		margin-right: 10%;
	}
}
.omega {
	@include respond-to-desktop-and-up {
		margin-right: 0%;
	}
}

